:root {
  --dark: #343a40;
  --dark-background: #25292c;
  --main-color: #6c56e1;
  --primary-color: #ecf7f9;
  --secondary-color: #212121;
  --nav-color: #6c56e1;
  --nav-text-color: #edf2fc;
  --hover-color: #c0b4cf;
  --info-color: #17a2b8;
}

.light-mode {
  --secondary-color: #212121;
  --primary-color: #edf2fc;
  --nav-color: #6c56e1;
  --nav-text-color: #edf2fc;
}

//later implementation
.dark-mode {
  --primary-color: #212121;
  --secondary-color: #edf2fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
}
